<!-- views/index.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select MySQL Node</title>
</head>

<body>
  <h1>Select MySQL Node</h1>
  <form action="/connect" method="post">
    <label for="nodeId">Select Node:</label>
    <select id="nodeId" name="nodeId">
      {{#each nodes}}
      <option value="{{this.id}}">Node {{this.id}}</option>
      {{/each}}
    </select>
    <button type="submit">Connect</button>
  </form>
</body>

</html>