<!-- views/search.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Appointments</title>
</head>

<body>
    <h1>Search Appointments</h1>
    <!-- Display error message if it exists -->
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
    <form action="/search" method="post">
        <label for="apptId">Appointment ID:</label>
        <input type="text" id="apptId" name="apptId">
        <button type="submit">Search</button>
    </form>
</body>

</html>
